@import "../../mixins.scss";
.slider {
  background-color: rgb(19, 19, 19);
  width: 100%;
  height: 460px;
  padding-top: 50px;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;

  .images {
    display: flex;
    width: 100%;
    height: 100%;
    // scroll-snap-type: x mandatory;

    img {
      height: 100%;
      width: 100%;
      flex-shrink: 0;
      object-fit: cover;
      // scroll-snap-align: start;
    }
  }
}

.btn {
  color: rgb(66, 66, 66);
  font-size: 30px;
  position: absolute;
  opacity: 0.9;
  z-index: 1;
  top: 40%;
  mix-blend-mode: difference;
  background-blend-mode: difference;

  @include md {
    top: 37%;
  }
  &:hover {
    opacity: 0.8;
  }
  &.leftBtn {
    left: 30px;
  }

  &.rightBtn {
    right: 30px;
  }
}
