.load{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .serverLatency{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border:  solid  rgb(83, 83, 83) 1px ;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        span{
            font-size: 1rem;
   
           
            margin: 0.5rem;
            
        }
    }


    
}