@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import "../../mixins.scss";

.containersection {
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  height: 400px;

  @include md {
    height: 500px;
  }

  .section-title {
    z-index: 1;
    width: 100%;
    margin: 0 0 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .topSelling {
      font-family: "Bebas Neue", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 3rem;
      color: rgb(19, 19, 19);
    }
  }
  .slider {
    padding-top: 0;
    margin-bottom: 2rem;
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: white;
    .grid {
      display: grid;
      height: 100%;
      grid-template-columns: repeat(20, minmax(180px, 1fr));
      padding-left: 3px;
      gap: 0.5rem;
      @include md {
        gap: 0;
        grid-template-columns: repeat(20, minmax(320px, 1fr));
      }

      .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        img {
          border-radius: 3px;
          flex-shrink: 0;
          height: 225px;
          object-fit: cover;
          @include md {
            height: 350px;
          }
        }
        .productname {
          display: flex;
          flex-direction: column;
          width: 100%;
          margin-top: 10px;
          padding-left: 10px;
          span {
            width: 90%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          @include md {
            padding-left: 30px;
          }
          .price {
            margin-top: 5px;
            font-weight: 700;
          }
        }
      }
    }
  }
}
